---
import Footer from "../components/Footer.astro";
import SectionContainer from "../components/SectionContainer.astro";
import TicketCard from "../components/TicketCard.astro";
import Layout from "../layouts/Layout.astro";
import { tickets } from "../utils/generate-tickets";
---

<Layout title="Bienvenido a Ticket Assistant">
  <main class="px-4">
    <SectionContainer class="py-16">
      <h1 class="text-4xl font-bold text-center">
        Bienvenido a Ticket Assistant
      </h1>
      <p class="mt-4 text-center">
        Una aplicación para la gestión de tickets de soporte
      </p>
    </SectionContainer>
    <SectionContainer>
      <!-- Lista de Tickets y Botón de Crear un Ticket -->
      <div class="flex justify-between items-center">
        <h2 class="text-2xl font-bold">Tickets</h2>
        <a
          href="/tickets/new"
          class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800"
        >
          <span
            class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0"
          >
            Crear Ticket
          </span>
        </a>
      </div>
    </SectionContainer>

    <SectionContainer class="py-8">
      <div
        class="grid grid-flow-row grid-cols-1 gap-4 max-md:grid-cols-1 lg:grid-cols-3"
      >
        <!-- TicketCard -->
        {
          tickets.map((t) => {
            return (
              <a href="">
                <TicketCard ticket={t} />
              </a>
            );
          })
        }
      </div>
    </SectionContainer>
  </main>
  <Footer />
</Layout>
